
// Note that the order in the aggregating file is important
//
// 1. custom variables file: Due to the way sass default works, 
//    the custom variable file must be imported before the platform theme 
//    aggregating file (where the platform variable file will be imported).
// 2. platform theme aggregating file
// 3. custom override file(s): In case of specificity equality 
//    the last declaration found in the CSS file wins, so you want
//    your overrides imported last so they have higher specificity.


//import custom variable overrides
@import "<%= themename %>.windows.settings";

// import alta-windows aggregating file
@import "../../../../node_modules/oraclejet/dist/scss/alta-windows/oj-alta";

// import custom css overrides
@import "<%= themename %>.windows.overrides";

